name: Build & Release

on:
  push:
    tags:
      - "v*"
      
permissions:
  contents: write


jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish
        run: >
          dotnet publish
          src/WinScreenLayout.Cli/WinScreenLayout.Cli.csproj
          -c Release
          -r win-x64
          --self-contained false
          /p:PublishSingleFile=true
          /p:IncludeNativeLibrariesForSelfExtract=true
          -o out

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: winscreenlayout-win-x64
          path: out/*
          
      - name: Upload to release
        uses: softprops/action-gh-release@v2
        with:
          files: out/*

